BOT_NAME=""
BOT_USERNAME=""
BOT_PROFILE_URL=""

PRIVATE_KEY=""
TARGET_ADDRESS=""
TARGET_USERNAME=""
TARGET_PROFILE_URL=""

POLY_MARKET_API_KEY=""
POLY_MARKET_SECRET=""
POLY_MARKET_PASSPHRASE=""

POLY_MARKET_FUNDER_ADDRESS=""
