POLY_MARKET_API_KEY=""
POLY_MARKET_SECRET=""
POLY_MARKET_PASSPHRASE=""

PRIVATE_KEY=""

FUNDER_ADDRESS=""
ETHERSCAN_API_KEY=""

# Target address to follow
ADDRESS_TO_FOLLOW=""

# Check interval in minutes (default: 5)
FOLLOWER_CHECK_INTERVAL_MINUTES=5
